.wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}
.header {
    margin-right: 24px;
    font-size: 3rem;
    font-weight: 300;
}
.tvshows {
    color: black;
    background-color: var(--white);
}

.moviebtn {
    color: #111;
    background-color: #3e8afa;
}
.btn {
    &:hover {
        opacity: 0.8;
    }
}
.tvBtnActice,
.movieBtnActice {
    color: #fff !important;
    background-color: #3e8afa !important;
}
