.wrapper {
    margin-top: 80px;
    margin-bottom: 20px;
    text-align: center;
}
.mt30 {
    margin-top: 30px !important;
}
.btn {
    text-align: center;
    color: var(--white);
    background-color: black;
    width: 120px;
    height: 32px;
    margin-right: 8px;
    &:hover {
        opacity: 0.8;
    }
}
.fb {
    background-color: #4267b2;
}
.tw {
    background-color: #55acee;
}
.ws {
    background-color: #25d366;
}
.mess {
    background-color: #448aff;
}
.red {
    background-color: #ff4500;
}
.tele {
    background-color: #0088cc;
}
