// Search
.item-wrapper {
    background-color: var(--white);
}

.search-input {
    height: 38px;
    width: 300px;
    font-size: 1.4rem;
    border-radius: 30px;
    padding-left: 40px;
    border-color: transparent;
    outline: none;
    color: #cfcfcf;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.05) !important;
}
.search-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 38px;
    width: 40px;
    font-size: 1.4rem;
    color: #111;
}
.moive-item-wrapper {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    height: 91;
    max-width: 300px;
    overflow: hidden;
}

$XS: 480px;
$SM: 768px;
$MD: 1024px;
$XL: 1170px;
$CUS: 560px;

@mixin Responsive($canvas) {
    @if $canvas == XS {
        @media only screen and (min-width: $XS) {
            @content;
        }
    } @else if $canvas == SM {
        @media only screen and (max-width: $SM) {
            @content;
        }
    } @else if $canvas == MD {
        @media only screen and (min-width: $MD) {
            @content;
        }
    } @else if $canvas == XL {
        @media only screen and (min-width: $XL) {
            @content;
        }
    } @else if $canvas == CUS {
        @media only screen and (max-width: $CUS) {
            @content;
        }
    }
}

@include Responsive(SM) {
    .item-wrapper {
        width: 100%;
    }
}
@include Responsive(CUS) {
    .search-wrapper {
        padding-left: 10px;
    }
    .ccc {
        width: 100%;
    }
    .search-input {
        width: 100%;
    }
}
