.wrapper {
    display: flex;
    margin: 0px 123px;
    padding: 30px;
    border-radius: 20px;
    min-height: 410px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
}

// flim detail
.film-detail {
    width: 100%;
    padding-left: 210px;
}

.action-btn {
    height: 38px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 15px;
}
.btn-watch {
    background-color: #3e8afa !important;
    color: var(--white);
    &:hover {
        background: #2160bc !important;
        border-color: #2160bc !important;
    }
}
.btn-add {
    background: #e2e6ea;
    border-color: #e2e6ea;
}
.movie-title {
    margin: 0 0 15px;
    font-weight: 300;
    a {
        text-decoration: none;
    }
    span {
        color: #111;
        text-decoration: none !important;
        font-size: 3.8rem;
    }
    :hover {
        color: #3e8afa;
    }
}

// quality
.quality {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.type {
    background: #fff !important;
    color: #111 !important;
    border: 1px solid #111 !important;
    font-size: 1.4rem;
    min-width: 80px;
    height: 100%;
    margin-right: 8px;
    cursor: default;
}
.movie-quality {
    background: #fff !important;
    color: #111 !important;
    border: 1px solid #111 !important;
    font-size: 1.4rem;
    font-weight: 600;
    width: 37px;
    min-width: 0;
    margin-right: 8px;
    cursor: default;
}
.point {
    background: 0 0 !important;
    color: #ffa600 !important;
    font-weight: 600;
    border-color: transparent !important;
    font-size: 1.4rem;
}

.movie-dres {
    margin-bottom: 15px;
    line-height: 2.25rem;
    font-size: 1.5rem;
    font-weight: 300;
}
.movie-info {
    display: flex;

    width: 100%;
}
.info-wrapper {
    width: 524px;
    height: 19.5px;
}
.info-item {
    font-size: 1.5rem;
    margin-bottom: 5px;
}
.detail {
    font-weight: 300;
    color: #111;
}
