$XS: 480px;
$SM: 768px;
$MD: 1024px;
$XL: 1170px;
$CUS: 860px;

// media queries

@mixin Responsive($canvas) {
    @if $canvas == XS {
        @media only screen and (min-width: $XS) {
            @content;
        }
    } @else if $canvas == SM {
        @media only screen and (max-width: $SM) {
            @content;
        }
    } @else if $canvas == MD {
        @media only screen and (max-width: $MD) {
            @content;
        }
    } @else if $canvas == CUS {
        @media only screen and (max-width: $CUS) {
            @content;
        }
    }
}
.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0px 123px;
    height: 232px;
    background: #144184 url('https://hdtoday.tv/images/group_1/theme_7/header-bg.jpg') top repeat-x;
}
.container {
    width: 100%;
    height: var(--menu-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    width: 112px;
    height: 35px;
}
.menu-list {
    height: var(--menu-height);
    display: flex;
    list-style: none;
    font-size: 1.4rem;
    color: var(--white);

    li {
        height: 100%;
        padding: 0px 20px;
        text-transform: uppercase;
    }
    li a {
        display: flex;
        height: 100%;
        text-decoration: none;
        align-items: center;
        color: var(--white);
    }
}

//Tablet
@include Responsive(SM) {
    .wrapper {
        height: 120px;
        padding: 0px 15px;
    }
    .menu-list {
        display: none;
    }
}

@include Responsive(MD) {
    .wrapper {
        padding: 0px 15px;
    }
    .menu-list {
        li {
            padding: 0px 10px;
        }
    }
}
