// Search
.item-wrapper {
    background-color: var(--white);
}
.search-input-cop {
    margin-bottom: -32px;
    position: relative;
    display: flex;
}
.search-header {
    text-align: center;
    font-weight: 300;
    font-size: 3.2rem;
    color: var(--white);
    margin-bottom: 35px;
}
.search-input {
    height: 70px;
    width: 900px;
    font-size: 2.9rem;
    border-radius: 45px;
    padding-left: 65px;
    border-color: transparent;
    outline: none;
    color: #cfcfcf;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.05) !important;
}
.search-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 70px;
    width: 70px;
    font-size: 2.1rem;
}
.go {
    display: block;
    height: 70px;
    width: 70px;
    line-height: 70px;
    border-radius: 45px;
    margin-left: 24px;
    font-size: 2rem;
    text-align: center;
    color: var(--white);
    background-color: #3e8afa !important;
}
.moive-item-wrapper {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    max-height: 503px;
    width: 100%;
    overflow: hidden;
}

$XS: 480px;
$SM: 768px;
$MD: 1024px;
$CUS: 860px;
$XL: 1170px;

// media queries

@mixin Responsive($canvas) {
    @if $canvas == XS {
        @media only screen and (min-width: $XS) {
            @content;
        }
    } @else if $canvas == SM {
        @media only screen and (max-width: $SM) {
            @content;
        }
    } @else if $canvas == MD {
        @media only screen and (max-width: $MD) {
            @content;
        }
    }
}
@include Responsive(SM) {
    .search-wrapper {
        width: 100%;
    }
    .search-header {
        display: none;
    }
    .search-icon {
        position: absolute;
        height: 38px;
        margin-top: -50px;
        z-index: 1;
    }
    .ccc {
        height: 38px;
        width: 738px;
        display: flex;
        margin-top: -50px;
        position: relative;
        align-items: center;
    }
    .search-input {
        top: 0;
        height: 100%;
        width: 100%;
        font-size: 1.6rem;
        padding-right: 50px;
        position: relative;
    }
    .item-wrapper {
        width: 738px;
    }
    .go {
        position: absolute;
        z-index: 2;
        right: 0;
        height: 38px;
        width: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 0px !important;
        top: 0;
        margin-top: -50px;
    }
}

@include Responsive(MD) {
    .wrapper {
        height: 120px;
        padding: 0px 15px;
    }
    .search-wrapper {
        width: 100%;
    }

    .ccc {
        width: 100%;
    }
    .search-input {
        width: 100%;
    }
}
