.wrapper {
    text-align: center;
    margin: 16px 0;
}
.banner {
    position: relative;
}
.banner-content {
    position: absolute;
    right: 0;
    left: 0;
    margin-top: -70px;
    font-size: 2rem;
    color: var(--white);
}
.yellow {
    color: #dcfc35;
}
